// Set your brand colors
$purple: #666A86;
$pink: #EDAFB8;
$brown: #333333;
$beige-light: #95B8D1;
$beige-lighter: #E8DDB5;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");